<!DOCTYPE html>


<div class="col-md-4 card3 best-web">
    <div class="title">
        <p ng-if="item.Page=='OrganicLink'">You Might Like</p>
        <p ng-if="item.Page=='BestOfWeb'">Sphere</p>
    </div>


    <swiper loop='false' effect='coverflow' initialSlide='4'>
        <slides>
            <slide  ng-repeat="sub_item in CardItems[item.Page]">
                <div class="col-md-4 card2 best-web card-body">
                    <div class="image-area">
                        <img src="./../assets/imgs/{{item.Page}}/{{item.Page}}-0{{$index + 1}}.png" alt="">
                        <div class="gradient-overlay"></div>
                    </div>
                </div>
            </slide>
        </slides>
        <!-- <prev></prev>
        <next></next> -->
        <pagination></pagination>
    </swiper>
</div>

<link rel="stylesheet" href="card-template/font.css">
<link rel="stylesheet" href="card-template/card-template.css">

